<!DOCTYPE html>
<html>
  <head>
    <title>WDCG</title>
    <%= csrf_meta_tags %>
    <meta property="og:image" content="http://i.imgur.com/aP35xG5.png"/>
    <meta property="og:url" content="https://my-civ-game.herokuapp.com"/>
    <meta property="og:site_name" content="Muh Game"/>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
